body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.__appWrapper{
    border-radius: 10px;
    width: 30%;
    background-color: grey;
    margin:0 auto;
    text-align: center;
}
.__header{
    color:#fa9b48;
}

form{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
label{
    font-size:18px;
    color:#fa9b48;
    width: 10%;
}
input{
    width:88%;
}

.__formBtn{
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
    padding:5px 10px;
    border: 1px solid black;
    background-color: white;
}
.__formBtn:hover{
color:white;
background-color: black;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    margin:0;
    padding: 0;
    background-color: lightgrey;
}


button{
    text-transform: uppercase;
    border: 1px solid black;
    background-color: white;
    padding:5px;
    margin:2px;
}

button:hover{
    color:white;
    background-color: black;
}

.__title{    
font-family: sans-serif;
font-weight: bold;
}